ul, li {
list-style: none;
padding: 0;
}

.app {
  width: 100%;
  max-width: 365px;
  margin: 0 auto;
}

.app_search {
  font-size: 1.4rem;
  padding: 10px;
  border: 1px solid #eee;
box-sizing: border-box;
width: 100%;
}

.violations{
  margin-left: 10px;
}
